div{
    background-color: burlywood;
    margin: 10px;
    display: flex;
}

h1{
    background-color: brown;
    width: 100px;
    text-align: center;
    height: 50px;
    margin: 20px;
    padding: 10px;
}

